@model PagedList.IPagedList<Domain.Models.Entities.Feedback>
@using PagedList.Mvc
@using PagedList


@{
    ViewBag.Title = "Feedback list";
}

<h2>Feedback List</h2>

<div class="table-responsive">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@item.FeedbackUrl target="_blank"><span class="btn btn-link">@item.Title</span></a>
                </td>
            </tr>
        }
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action(ViewBag.MethodName, new { page }))