@model Domain.Models.ViewModel.AddMoneyViewModel
@using Domain.App_GlobalResources;
@using Domain.Constants;

<table>
    <tr>
        <td>Current question/project amount: </td>
        <td><span class="label label-default">$@Model.Amount</span></td>
    </tr>
    <tr>
        <td>@CommonResources.txtMarketingBudgetLeft</td>
        <td><span class="label label-default">$@Model.MarketingBudgetLeft</span></td>
    </tr>
    <tr>
        <td>@CommonResources.MarketingWillEndOn</td>
        <td><span class="label label-default">@Model.LongestCampaignEndDateString</span></td>
    </tr>
</table>
