@model System.Web.Mvc.HandleErrorInfo
@using Domain.App_GlobalResources;

@{
    ViewBag.Title = CommonResources.MsgErrorViewBrowserTitle;
}

<hgroup class="title">
    <h1 class="error">@CommonResources.MsgErrorViewTitle</h1>
    <h2 class="error">@CommonResources.ErrorViewMsg</h2>
</hgroup>
